.examples-enter {
  opacity: 0.01;
  transform: translateY(16px);
}

.examples-enter.examples-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 50050ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.examples-leave {
  opacity: 1;
  transform: translateY(0);
}

.examples-leave.examples-leave-active {
  opacity: 0.01;
  transform: translateY(16px);
  transition: all 50050ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}
