.rc-select-selection{
  border-radius: 0 !important;
  background-color: #fffff !important;
  border: 1px solid #6bc9c5 !important;
  color: #333;
  font-size: 0.8rem;
}
.rc-select-selection__choice__content {
  font-size: 0.6rem;
}

.rc-select-dropdown{
  background-color: #fff;
  box-shadow: none;
  border: none;
}
